
DATABASE_URL="postgresql://yushaku:123@localhost:5432/nest?schema=public"

# JWT

JWT_SECRET="SUPER_SECREAT"
EXPIRED_IN="15m"

# MINIO

MINIO_ACCESS_KEY="aws_access_key_id"
MINIO_SECRET_KEY="aws_secret_access_key"

MINIO_BUCKET_NAME="yuhsaku"
MINIO_ROOT_USER=yushaku
MINIO_ROOT_PASSWORD=yushaku1234

MINIO_ENDPOINT="127.0.0.1"
MINIO_PORT="9000"

MINIO_BUCKET="yushaku"

#REDIS

REDIS_HOST="yushaku"
REDIS_PORT="6379"